body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
    font-weight: 500;
}

.hname {
    color: rgb(255, 153, 0);
}

.intro {
    width: 40%;
    padding-left: 2%;
    margin-left: 5%;
    float: left;
}

.intro img {
    max-width: 100%; /* Prevent the image from exceeding the container width */
    height: auto; /* Maintain the aspect ratio */
    object-fit: contain; /* Ensure the image fits inside its container */
    display: block;
}

.banner {
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally for small screens */
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden; 
}

.link_button {
    padding: 10px 15px;
    text-decoration: none;
    background-image: linear-gradient(90deg, #ff9966, #ff5e62);
    border-radius: 5px;
    color: azure;
   
}


.dreambig {
    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.card {
     box-shadow: 10px 10px 30px gray;
     height: 80%;
     margin: 40px 40px;
     border-left: 8px solid;
     border-image: linear-gradient( #ff9966, #ff5e62);
     border-image-slice:1;
     background-color: white;
     

     
}

#baby {
    border-left: 8px solid;
    border-image: linear-gradient( 180deg,#071de9, #13c6e6);
    border-image-slice:1;
    background-color: white;
    
}


.foot {
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

